@media screen and (max-width: 350px) {
    #savings-wrapper h2 {
        width: auto;
        font-size: 40px!important;
    }
}
@media screen and (max-width: 575px) {
    .savings-box {
        height: 290px!important;
    }
    octa-advantage h3 {
        font-size: 36px;
    }
    .about-box img {
        width: 100%;
    }
    .about p,
    #motivation p {
        width: 90%;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px) {
    .savings-box {
        height: 350px!important;
    }
}
@media screen and (max-width: 768px) {
    #savings-wrapper h5 {
        width: 85%;
    }
    .relative-position {
        margin-top: 130px;
        margin-bottom: 30px;
    }
    .save-image {
        left: 25px;
    }
    .iphone-image {
        top: -20px;
    }
    .mt-130, .mt-140 {
        margin-top: 40px;
    }
    .multiple p {
        margin-left: 0;
    }
    #customer-support {
        margin-top: 0;
    }
}
@media screen and (max-width: 850px) {
    #savings-wrapper h2 {
        font-size: 50px;
    }
}
@media screen and (min-width: 770px) and (max-width: 1200px) {
    #savings-wrapper {
        margin-bottom: 0;
    }
    .multiple p {
        margin-left: 0;
    }
    #customer-support,
    #personalized-services {
        margin-top: -140px;
    }
}
@media screen and (min-width: 950px) and (max-width: 1200px) {
    .savings-box {
        height: 330px;
    }
}
@media screen and (min-width: 1201px) {
    .savings-box {
        height: 300px;
    }
}
@media screen and (min-width: 770px) and (max-width: 1100px) {
    /*.save-image {
        left: 55px;
    }*/
    .ml--35 {
        margin-left: -10px;
    }
}
/*@media screen and (min-width: 770px) and (max-width: 1355px) {
    .save-image {
        bottom: 155px;
        z-index: -1;
    }
}*/

@media screen and (min-width: 1110px) and (max-width: 1355px) {
    /*.save-image {
        left: 70px;
    }*/
    #savings-wrapper h2 {
        font-size: 57px;
    }
    #savings-wrapper p {
        width: 90%;
    }
}

@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
















