@font-face {
    font-family: "Graphik-Regular";
    src: url("webfont/Graphik-Regular.eot");
    src: 
    url("webfont/Graphik-Regular.woff") format("woff"),
    url("webfont/Graphik-Regular.ttf") format("opentype"),
    url("webfont/Graphik-Regular.svg") format("svg");
}
body {
    font-family: Graphik-Regular!important;
}
.navbar {
    background: #202731;
}
.navbar .container-fluid {
    width: 92%;
}
nav ul li a {
    font-size: 16px;
    color: #fff;
    opacity: 0.58;
}
.navbar .navbar-nav .nav-link {
    padding-left: 30px;
    padding-right: 30px;  
}
.navbar .btn {
    margin-left: 10px;
    font-size: 16px;
}
.btn.btn-info.btn-login {
    background: #fff;
    padding: 10px 40px;
    border-radius: 4px;
    border: 0.5px solid #dce1e7;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.29;
    color: #2c3f58;
}
.btn.btn-info.btn-create {
    border-color: #ffba02;
    padding: 10px 20px;
    border-radius: 3.6px;
    background-color: #ffba02;
    font-size: 16.2px;
    font-weight: 500;
    color: #212731;
}

/* about */
#savings-wrapper {
    padding: 70px 0 0 0;
    margin-bottom: -72px;
}
.container-fluid {
    width: 90%;
}
#savings-wrapper h2 {
    width: 90%;
    font-size: 64px;
    font-weight: 600;
  /*font-family: Graphik-Semibold;*/
    line-height: 1.17;
    color: #190f0c;
    margin-top: 30px;
}
#savings-wrapper p {
    font-size: 20px;
    line-height: 1.6;
    margin-top: 30px;
    line-height: 1.75;
    color: #212731;
}
#savings-wrapper a img {
    margin-top: 10px;
    margin-right: 15px;
}
.mt-30 {
    margin-top: 30px;
}
.relative-position {
    position: relative;
}
.save-image {
    position: absolute;
    bottom: 75px;
    left: 84px;
}
.iphone-image {
    position: relative;
    top: -75px;
    right: 28%;
}
.savings-list {
    padding: 60px 0 70px 0;
    background-image: linear-gradient(177deg, #ffffff, #fcfcfd);
    color: #212731;
}
.savings-list h3 {
    font-size: 56px;
    font-weight: normal;
    line-height: 1.18;
}
.savings-box {
    background: #fff;
    padding: 30px 20px;
    margin-top: 40px;
    border-radius: 3px;
    box-shadow: 0 20px 25px 0 rgba(178, 178, 178, 0.16)!important;
}
.savings-box img {
    margin-bottom: 30px;
}
.savings-box h5 {
    font-size: 20px;
    font-weight: 500;
}
.savings-box p {
    width: 75%;
    opacity: 0.61;
    font-size: 18px;
    line-height: 1.33;
    margin-top: 20px;
}
.p-2 {
    padding: 1rem 3.5rem 1rem 0!important;
}
.steps {
    padding: 110px 0 220px 0;
}
.createaccount {
    background: #fff;
    padding: 20px 30px 20px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.createaccount.step-one {
    margin: 10px 40px;
}
.number-wrapper {
    width: 44px;
    height: 44px;
    border: solid 0.5px #ffba02;
    font-size: 24px;
    text-align: center;
    color: #ffba02;
    border-radius: 50%;
    padding-top: 4px;
    margin-top: 10px;
}
p {
    margin-bottom: 0;
}
.number-wrapper.number-one {
    opacity: 0.68;
    background-color: #ffba02;
    color: #ffffff;
}
.steps-wrapper h5 {
    font-size: 24px;
    font-weight: 500;
    color: #414660;
}
.steps-wrapper h5.stepone {
  opacity: 0.68;
}
.steps-wrapper h5.stepthree {
  font-size: 28.8px;
}
.guide-wrapper {
    margin-top: 25px;
    margin-left: 60px;
    color: #212731;
}
.guide-wrapper h3 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.35;
}
.guide-wrapper p {
    margin-top: 10px;
    width: 91%;
    margin-bottom: 40px;
    opacity: 0.6;
    font-size: 18px;
    line-height: 1.56;
}
.guide-wrapper a.btn.btn-info.btn-create {
    font-weight: 500;
    font-size: 22px;
    padding: 10px 60px;
}
#octa-advantage {
    background: url(./../images/advantage.png);
    background-repeat: no-repeat;
    padding: 50px 0 180px 0;
    color: #fff;
}
.mt-60 {
    margin-top: 60px;
}
#octa-advantage h3 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 30px;
}
#octa-advantage h5 {
    font-size: 20px;
    font-weight: 600;
}
#octa-advantage p {
    width: 89%;
    font-size: 14px;
    opacity: 0.8;
    margin-top: 10px;
    line-height: 1.71;
}
.ml--35 {
    margin-left: -35px;
}
.bold {
    font-weight: bold;
}
.ft-22 {
    font-size: 22px!important;
}
.testimonial-wrapper {
    background: #fff;
    padding: 15px;
    margin-top: -80px;
    border-radius: 6px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    color: #000;
   /* background-image: linear-gradient(to left, rgba(30, 51, 91, 0), #0d172e);*/
}
.testimonial-wrapper a {
    font-size: 20px;
    color: #05abe5;
    font-weight: bold;
}
.testimonial-wrapper h5 {
    padding-top: 40px;
    width: 83%;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.4px;
    color: #000;
}
.testimonial-wrapper h6 {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 30px;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.55px;
}
.testimonial-wrapper p {
    margin-top: -7px;
    font-size: 13px;
    line-height: 1.85;
    color: #979ea6;
}
.testimonial-wrapper p.carousel-count {
    padding-top: 215px;
    padding-bottom: 20px;
    font-weight: 500;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: 0.55px;
    color: #000;
}
.ml-45 {
    margin-left: 45px;
}
.controls-div {
    position: absolute;
    right: 5%;
    bottom: 5px;
}
.mr-10 {
    margin-right: 10px;
}
footer {
    padding: 80px 0 30px 0;
    color: rgba(43, 41, 45, 0.6);
}
footer .logo {
    margin-bottom: 20px;
}
footer .personal {
    width: 90%;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 1.44;
}
footer hr {
    border-color: color: rgba(43, 41, 45, 0.1);
}
footer h6 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 1.27;
    color: #2b292d;
}
footer p a {
    color: #858587;
    font-size: 18px;
    line-height: 1.67;
    color: rgba(43, 41, 45, 0.6);
}
footer p.copy {
    font-size: 14px;
    line-height: 1.57;
}
footer a i {
    margin-left: 10px;
    color: rgba(43, 41, 45, 0.6);
}
.mb-30 {
    margin-bottom: 30px;
}